.todoInput {
    background-color: var(--gray-400);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    padding: 1rem;
    width: calc(40rem - 2px);
    height: calc(3rem + 6px);
    color: var(--gray-100);
    outline: none;
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
}

.todoInput:focus {
    border-color: var(--purple-dark);
}