.emptyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--gray-400);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: calc(15rem + 4px);
    margin: 2rem auto;
}

.emptyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
}

.emptyContent img {
    margin-bottom: 1rem;
}

.emptyContent strong, 
.emptyContent span {
    font-size: var(--font-size-md);
    line-height: var(--line-height-base);
}