.itemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 8px;
    height: 4.5rem;
    margin-bottom:  0.75rem;
}

.itemWrapper label {
    display: flex;
    gap: 0.875rem;
}

.itemWrapper input[type="checkbox"] {
    display: none;
}

.itemCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 1.125rem;
    width: 1.125rem;
    transition: 0.2s all;
    border: 2px solid var(--blue);
    cursor: pointer;
    color: var(--gray-100);
}

.itemCheckboxUnchecked {
    border: 2px solid var(--blue);
}
  
.itemCheckboxUnchecked:hover {
    background-color: rgba(30, 111, 159, 0.2);
    border-color: var(--blue-dark);
}
  
.itemCheckboxChecked {
    border: 2px solid var(--purple-dark);
    background-color: var(--purple-dark);
}

.itemCheckboxChecked:hover {
    border: 2px solid var(--purple);
    background-color: var(--purple);
}

.itemWrapper p {
    color: var(--gray-100);
    line-height: var(--line-height-base);
}

.itemWrapper p.itemChecked {
    text-decoration: line-through;
}

.itemWrapper button {
    background-color: transparent;
    color: var(--gray-300);
    border: 0;
    cursor: pointer;
}

.itemWrapper button:hover {
    color: var(--red);
}

@media (max-width: 768px) {
    .itemWrapper p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 250px;
    }
}